<div class="container">
    <h2>{{ isEditMode ? 'Modifica Negozio' : 'Aggiungi Negozio' }}</h2>
    <form [formGroup]="shopForm" (ngSubmit)="onSubmit()">

        <div class="form-group py-2">
            <label for="denominazione">Denominazione</label>
            <input type="text" id="denominazione" formControlName="denominazione" class="form-control" />
            <div *ngIf="shopForm.get('denominazione')?.invalid && shopForm.get('denominazione')?.touched" class="text-danger">
                Il nome è obbligatorio.
            </div>
        </div>

        <div class="form-group py-2">
            <label for="address">Indirizzo</label>
            <input type="text" id="address" formControlName="address" class="form-control" />
            <div *ngIf="shopForm.get('address')?.invalid && shopForm.get('address')?.touched" class="text-danger">
                L'indirizzo è obbligatorio.
            </div>
        </div>

        <div class="form-group py-2">
            <label for="phoneNumber">Numero di Telefono</label>
            <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" />
            <div *ngIf="shopForm.get('phoneNumber')?.invalid && shopForm.get('phoneNumber')?.touched" class="text-danger">
                Inserisci un numero di telefono valido.
            </div>
        </div>

        <button type="submit" class="btn btn-primary py-2" [disabled]="shopForm.invalid">
            {{ isEditMode ? 'Salva Modifiche' : 'Aggiungi Negozio' }}
        </button>

    </form>
</div>
