<div class="container text-center">
    <div class="row py-4">
      <div class="col">
        <label for="user">Choose a User:</label>
        <br>
        <select name="" class="my-4" [(ngModel)]="filter">
            <option value="" disabled selected hidden>Seleziona un'opzione</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        @for (user of users | filterUserPipe: filter; track $index) {
            <p>{{user.username}}: {{user.role}}</p>
        }
        <!-- <audio controls>
          <source src="./../../data/sample.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio> -->
      </div>
      <div class="col">
        <app-shop-form></app-shop-form>
      </div>
    </div>
  </div>