<!-- <div class="container text-center">
  <button [routerLink]="['/dashboard']" >Home</button>
    <div class="row py-4">
      <div class="col">
        <label for="user">Choose a User:</label>
        <br>
        <select name="" class="my-4" [(ngModel)]="filter">
            <option value="" disabled selected hidden>Seleziona un'opzione</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        @for (user of users | filterUserPipe: filter; track $index) {
            <p>{{user.username}}: {{user.role}}</p>
        }
      </div>
      <div class="col">
        <app-shop-form></app-shop-form>
      </div> 
    </div>
  </div> -->

<div class="container">
  <div class="content">
    <div class="grid">
      <div class="cell">
        <i class="bi bi-shop-window fs-1"></i>
        <p>Ristoranti</p>
      </div>
      <div class="cell">
        <i class="bi bi-table fs-1"></i>
        <p>Ordini</p>
      </div>
      <div class="cell">
        <i class="bi bi-people-fill fs-1"></i>
        <p>Clienti</p>
      </div>
      <div class="cell">
        <i class="bi bi-people-fill fs-1"></i>
        <p>Utenti</p>
      </div>
      <div class="cell">
        <i class="bi bi-people-fill fs-1"></i>
        <p>Statistiche</p>
      </div>
      <div class="cell">Cella 6</div>
      <div class="cell">Cella 7</div>
      <div class="cell">Cella 8</div>
    </div>
  </div>
</div>
