
.navbar {
  background-color: #f8f9fa; 
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  padding: 10px 15px;
  color: #343a40; 
}

.navbar-nav .nav-link:hover {
  color: #007bff; 
}

.nav-item.active .nav-link {
  font-weight: bold;
  color: #007bff; 
}

.navbar-toggler {
  border: none;
}

.overlay {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}