<a [routerLink]="['/shop-details', shop.id, 'products']">
  <div class="card example-card shadow-sm rounded">
  <div class="over">
    <img src="{{ shop.img }}" class="card-img-top" alt="..." />
    <span class="bottom-left text-bg-danger px-3">Top Left</span>
  </div>


    <div class="card-body">
      <p class="card-text h6 text-start">{{ shop.denominazione }}</p>
      <p class="card-text text-start">{{ shop.indirizzo }}</p>
      <p class="card-text text-start">
        <i class="bi bi-star-fill"></i> {{ shop.rating }}
        {{ shop.rating | rating }}
      </p>
    </div>
  </div>
</a>
