    <!-- <mat-card class="example-card">
      <a [routerLink]="['/shop-details', shop.id, 'products']">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="white">
            {{ shop.denominazione }}
          </mat-card-title>
          <mat-card-subtitle class="pb-2"
            >{{ shop.citta }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content [style.flexGrow]=1>
          <p class="description white">
            {{ shop.indirizzo }}
          </p>
        </mat-card-content>
      </a>        
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card> -->


    <div class="card" style="width: 18rem;">
      <img src= {{shop.img}} class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{shop.denominazione}}</p>
      </div>
    </div>
