<div class="input-wrapper w-100">
  <input
    type="search"
    placeholder="Cerca negozio"
    [value]="getSearchTerm()"
    (input)="updateSearchTerm($event)"
    class="form-control"
    id="search-input"
    style="border-radius: 50px; padding-right: 30px"
  />
  <button
    onclick="alert('Button clicked!');"
    type="button"
    class="btn btn-primary fs-3"
  >
    🔍
  </button>
</div>


<!-- <div class="input-group justify-content-center my-3">
    <input
      type="search"
      placeholder="Cerca negozio"
      class="form-control"
    />
    <button type="button" class="btn btn-primary">
      <i class="bi bi-search"></i>
    </button>
</div> -->