<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6 p-4">
      <img src= {{product.img_url}} class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description}}</p>
        <p class="card-text text-danger">{{ product.price | currency:"EUR"}}</p>
        <button type="button" class="btn btn-primary" (click) = "addProductToCart()">Aggiungi al carrello</button>
      </div>
    </div>
  </div>
</div>